<div *ngIf="hasDayHeading">
    <h1>{{dayHeading}}</h1>
</div>
<mat-card>

    <div class="row heading">
        <div class="col-sm-12">{{cardHeading}}</div>
    </div>
    <div class="items" [dragula]="'bag-day'" [dragulaModel]='plannerItemList'>
        <div *ngFor="let item of plannerItemList"
            [attr.data-itemid]="item.id"
            [attr.data-itemtype]="item.plannerItemType">

            <div class="row">
                <div class="col-sm-8">{{item.description}}</div>
                <div class="col-sm-4">{{item.plannerItemType}}</div>
            </div>
        </div>
    </div>

</mat-card>
