/*For loading page only*/

:root {
  /*For inline css*/
  --green: #00E676;
  --green-light: #69F0AE;
  --green-xlight: #B9F6CA;
  --green-dark: #00C853;
  --blue-xlight: #7ffff6;
  --blue-light: #84FFFF;
  --blue: #00E5FF;
  --blue-dark: #00B8D4;
  --white: #f7f7f7;
  --grey: #e5e9ec;
  --grey-dark: #626466;
  --black: #363537;
  --red: #FF5252;
}
