<mat-card>
    <h1>{{title}}</h1>
    <table>
        <thead>
            <tr>
                <th class="description"></th>
                <th class="due">Due</th>
                <th class="option"></th>
            </tr>
        </thead>

        <tbody>            
            <tr *ngFor="let item of plannerItemList"
                [attr.data-itemid]="item.id"
                [attr.data-itemtype]="item.plannerItemType">

                <td class="description"> {{item.description}}</td>
                <td class="type"> {{item.plannerItemType}} </td>
                <td class="option">
                    <fa-icon style="color: var(--grey-dark);"
                             size="lg"
                             [icon]="deleteIcon">
                    </fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>
