@import '../shared/styles/modules/_all.scss';

:host {
    display: flex;

    planner-days {
        flex: 1 1 auto;
    }

    planner-week {
        flex: 1 1 auto;
    }

    planner-month {
        flex: 1 1 auto;
        background-color: red;
    }
}
