@import '../shared/styles/modules/_all.scss';

:host {
    width: 100%;
    height: 100%;
    display: flex;

    /*.container {
        display: flex;

        planner-days {
            width: 100%;
            height: 100%;
            flex: 1 1 auto;
        }

        planner-week {
            flex: 1 1 auto;
        }

        planner-month {
            flex: 1 1 auto;
            background-color: red;
        }
    }*/
}
