<h1 class="title>Add a thought</h1>

<mat-card class="shadow-form mt-4 mb-4 p-0 pt-3 content">
    <mat-form-field class="container-fluid">
        <textarea matInput placeholder="What's your thought?" [(ngModel)]="description"></textarea>
    </mat-form-field>
</mat-card>

<div class="
        align-self-end
        container-fluid d-flex flex-row
        justify-content-center
        mt-4
        add-button"
        fxFlex="0 0 40px">
    <button mat-raised-button color="primary" (click)="addThought()">Add</button>
</div>
