<div class="container" [@sidebar] ="sidebarState">
    <!--Tab buttons-->
    <div class="tabs">
        <ul>
            <li id="aside-tabs-edit" data-tabid="aside-edit-container">
                <span>Edit</span>
            </li>
            <li id="aside-tabs-add" class="active" data-tabid="aside-add-container">
                <span>Add</span>
            </li>
        </ul>
    </div>
    <!--Tabs-->
    <div class="content" >
            <!--Tabs content-->

            
    </div>
</div>
