@import '../../../shared/styles/modules/_all.scss';

:host {
    z-index: 40;
    @extend %blue-green-blend;
    @extend %shadow-header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.side-container {
    cursor: pointer;
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-self: stretch;

    fa-icon {
        align-self: center;
    }
}

.center-container {
    flex: 1 1 100%;
    margin: 0;
    text-align: center;
}

@media (min-width: $screen-sm) {
    .side-container {
        flex: 0 0 150px;
    }
}
