<div
    (click)="toggleNav()"
    class="side-container">
    <fa-icon
        style="color: var(--grey-dark);"
        [@leftArrow]="leftArrowState"
        [icon]="leftIcon"
        size="2x">
    </fa-icon>
</div>

<div class="center-container">
    <h1 class="logo">Thought Stream</h1>
</div>

<div
    (click)="toggleSidebar()"
    class="side-container">
    <fa-icon
        style="color: var(--grey-dark);"
        [@rightArrow]="rightArrowState"
        [icon]="rightIcon"
        size="2x">
    </fa-icon>
</div>
