.container {
    height: 100%;
    width: 150px;
    margin: 0;
    background: var(--white);
    /*Shadow middle height*/
    -moz-box-shadow: var(--shadow-side);
    -webkit-box-shadow: var(--shadow-side);
    box-shadow: var(--shadow-side);
}

/* Menu Content */

.content {
    height: 100%;
    z-index: 25;
    overflow: hidden;
}

li {
    list-style-type: none;
    min-width: 0;
    height: 30px;
    font-family: var(--heading);
    cursor: pointer;
    padding-left: 15px;
    padding-bottom: 35px;
    padding-top: 5px;
    text-align: left;
}
    li:hover {
        background: var(--blue-light);
    }

    li.active {
        background: var(--blue-dark);
    }

a {
    display: flex;
    padding-top: 7px;
    color: var(--grey-dark);
}

fa-icon {
    width: 30px;
    padding-right: 10px;
}

.minified span {
    display: none;
    transition: opacity 1s linear;
}