:root {
    /* --- Site Theme --- */
    --blue-light: #00ffed;
    --white: #f7f7f7;
    --grey: #e5e9ec;
    --grey-dark: #626466;
    --black: #363537;
    --heading: 'Spectral SC', serif;
    /*Shadow*/
    --shadow-card: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-side: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-header: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --shadow-active-tab: -3px 5px 5px -3px rgba(0,0,0,0.16), -3px 5px 5px -3px rgba(0,0,0,0.23);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    background: var(--white);
    /*Shadow middle height*/
    -moz-box-shadow: var(--shadow-side);
    -webkit-box-shadow: var(--shadow-side);
    box-shadow: var(--shadow-side);
}

/* Menu Content */

.content {
    z-index: 25;
}

ul {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    min-width: 0;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

li {
    list-style-type: none;
    justify-content: center;
    min-width: 0;
    height: 30px;
    font-family: var(--heading);
    cursor: pointer;
    padding-bottom: 35px;
    padding-top: 5px;
    text-align: left;
}

li.active {
    background: var(--blue-light);
    /*Shadow card height*/
    -moz-box-shadow: var(--shadow-card);
    -webkit-box-shadow: var(--shadow-card);
    box-shadow: var(--shadow-card);
}

a {
    color: var(--grey-dark);
}

img {
    padding-left: 10px;
    padding-right: 5px;
}

.minified span {
    display: none;
    transition: opacity 1s linear;
}