<!--<li [routerLinkActive]="['link-active']">
    <a [routerLink]="['/fetch-data']">
        <span class='glyphicon glyphicon-th-list'></span> Fetch data
    </a>
</li>-->
<div class="container" [class.minified] ="minifiedClass" 
    [@navbar]="navbarState" (@navbar.done)="toggleDone()">
    <div class="content">

        <ul>
            <li>
                <a>
                    <img src="../../../../../images/svg/planWeek.svg"/>
                    <span>Plan Week</span>
                </a>
            </li>
            <li class="active">
                <a>
                    <img src="../../../../../images/svg/thoughts.svg" />
                    <span>Thoughts</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="../../../../../images/svg/tasks.svg" />
                    <span>Tasks</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="../../../../../images/svg/calendarEvents.svg" />
                    <span>Events</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="../../../../../images/svg/habits.svg" />
                    <span>Habits</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="../../../../../images/svg/projects.svg" />
                    <span>Projects</span>
                </a>
            </li>
        </ul> 

    </div>
</div>