@import '../../shared/styles/modules/_colours.scss';
@import '../../shared/styles/modules/_typography.scss';

//Global CSS

app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $grey-light;

    header {
        display: flex;
        flex-direction: row;
        flex: 0 0 50px;
    }

    >.content-container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        z-index: 10;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    footer {
        position: relative;
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        z-index: 0;
        width: 100%;
        color: $black;
    }
}
