<div class="component-container">

    <div class="content-container">
        <thoughts-list/>
    </div>

    <div
        class="sidebar-container"
        [@sidebar] ="sidebarState">
            
        <ul>
            <li class="disabled" [class.selected]="tab =='delete'" (click)="switchTab('delete')"><span>Delete</span></li>
            <li [class.selected]="tab =='edit'" (click)="switchTab('edit')"><span>Edit</span></li>
            <li class="active" (click)="switchTab('add')"><span>Add</span></li>
        </ul>

        <mat-card>
            <div
                class="sidebar-content"
                [ngSwitch]="tab">
                
                <div *ngSwitchCase="'add'" [@fadeIn]="fadeIn" class="w-100 h-100">
                    <thoughts-add/>
                </div>

                <div *ngSwitchCase="'edit'" [@fadeIn]="fadeIn">
                    <thoughts-edit/>
                </div>

            </div>
        </mat-card>
    </div>
    
</div>
