<div class="content-container">
    <thoughts-list></thoughts-list>
</div>

<div class="sidebar-outer-container">
    <div class="sidebar-inner-container" [@sidebar]="sidebarState" [class.minified]="sidebarState === 'minified'">

        <ul>
            <!--<li class="disabled" [class.selected]="tab =='delete'" (click)="openDelete()"><span>Delete</span></li>-->
            <li [class.active]="tab =='edit'" (click)="openEditTab()"><span>Edit</span></li>
            <li [class.active]="tab =='add'" (click)="openAddTab()"><span>Add</span></li>
        </ul>

        <div class="tab-content" [ngSwitch]="tab">

            <div *ngSwitchCase="'add'" [@fadeIn]="fadeIn" class="w-100 h-100">
                <thoughts-add></thoughts-add>
            </div>

            <div *ngSwitchCase="'edit'" [@fadeIn]="fadeIn">
                <thoughts-edit></thoughts-edit>
            </div>

        </div>

    </div>
</div>
