<mat-card (clickOutside)="deselectThought($event)">
    <table>
        <thead>
        <tr >
            <th class = "description"></th>
            <th class = "due">Due</th>
            <th class = "option"></th>
        </tr>
        </thead>

        <tbody
               [dragula]="'bag-thoughts'"
               [dragulaModel]='thoughtslist'>
        <tr 
            *ngFor="let thought of thoughtslist"
            (click)="selectThought(thought.thoughtId)"
            [class.selected] ="selectedThought === thought.thoughtId"
            [attr.data-thoughtid]="thought.thoughtId"
            [attr.data-sortid]="thought.sortId">

            <td class = "description"> {{thought.description}}</td>
            <td class = "due"> {{thought.timeFrameDueString}} </td>
            <td class = "option">
                <fa-icon style="color: var(--grey-dark);"
                         size="lg"
                         [icon]="deleteIcon">
                </fa-icon>
            </td>
        </tr>
        </tbody>
    </table>
</mat-card>

<!--<mat-card>
    <table mat-table [dataSource]="thoughtslist">
    
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        
        <ng-container matColumnDef="timeFrameDueString">
            <th mat-header-cell *matHeaderCellDef> Due </th>
            <td mat-cell *matCellDef="let element"> {{element.timeFrameDueString}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tbody
            [dragula]="'bag-thoughts'"
            [dragulaModel]='thoughtslist'>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </tbody>
    </table>
</mat-card>-->
