<div class="card table">
    <table>
        <thead>
        <tr>
            <th><!--Description--></th>
            <th>Due</th>
            <th><!--Options--></th>
        </tr>
        </thead>
        <tbody [dragula]="'bag-thoughts'" [dragulaModel]='thoughtslist'>
        <tr *ngFor="let thought of thoughtslist" [attr.data-sortId]="thought.sortId">  

            <!--data-thoughtid={{thought.id}}
            data-sortid={{thought.sortId}}
            data-timeframeid={{thought.timeFrameId}}
            data-timeframedate={{thought.timeFrameDateString}}
            data-timeframetime={{thought.timeFrameTimeString}}-->

            <td class="description">{{thought.description}}</td>
            <td class="due">{{thought.timeFrameDueString}} </td>
            <td class="delete"><img src="../../../../../images/svg/delete.svg" /></td>
        </tr>
        </tbody>
    </table>
</div>