<!-- Expansion -->
<mat-accordion>
    <mat-expansion-panel
        class="shadow-form">
        
        <mat-expansion-panel-header>
            <!-- Title -->
            <mat-panel-title>
                Due
            </mat-panel-title>

            <!-- Description -->
            <mat-panel-description>
                Anytime
            </mat-panel-description>

        </mat-expansion-panel-header>


        <!-- Timeframe -->
        <mat-card class="timeframe">
            <mat-card-content>
                <mat-tab-group (selectedTabChange)="tabChanged($event)">

                    <!--Open-->
                    <mat-tab label="Anytime"></mat-tab>

                    <mat-tab label="Day">

                        <!--Date-->
                        <mat-form-field class="container-fluid">
                            <input matInput [matDatepicker]="daypicker" placeholder="Due on the date" class="mt-2">
                            <mat-datepicker-toggle matSuffix [for]="daypicker"></mat-datepicker-toggle>
                            <mat-datepicker #daypicker></mat-datepicker>
                        </mat-form-field>

                        <!--Time-->
                        <div class="container">
                            <div class="row">
                                <mat-form-field class="col-sm w-25">
                                    <input matInput type="time" [disabled]="!hasTime" placeholder="Time"/>
                                </mat-form-field>
                                <div class="col-sm p-0 m-0 mt-3">
                                    <mat-checkbox [(ngModel)]="hasTime" class="font-weight-light">
                                        Include time
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>

                    </mat-tab>

                    <!--Week-->
                    <mat-tab label="Week">
                        <mat-form-field class="container-fluid">
                            <input matInput [matDatepicker]="weekpicker" placeholder="Due in the week of" class="mt-2">
                            <mat-datepicker-toggle matSuffix [for]="weekpicker"></mat-datepicker-toggle>
                            <mat-datepicker #weekpicker panelClass ="weekpicker"></mat-datepicker>
                        </mat-form-field>
                    </mat-tab>

                    <!--Month-->
                    <mat-tab label="Month">
                        
                        <mat-form-field>
                            <mat-select placeholder="Month">
                                <mat-option *ngFor="let month of months" [value]="month.value">
                                    {{month.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select placeholder="Year">
                                <mat-option *ngFor="let year of years" [value]="year.value">
                                    {{year.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </mat-tab>

                </mat-tab-group>
            </mat-card-content>
        </mat-card>

    </mat-expansion-panel>
</mat-accordion>
