<div
    class="
        app-container
        d-flex
        flex-column
        align-items-stretch">
  <!--fxLayout="column"
  fxLayoutAlign="stretch">-->

    <header
        class="d-flex flex-row"
        fxFlex="0 0 50px">
    </header>

    <div
        class="d-flex flex-row"
        fxFlex="1 1 100%"
        fxLayout="row">
        <nav fxFlex="1 1 auto"></nav>
        <content fxFlex="1 1 100%"></content>
    </div>

    <footer
      fxFlexAlign="end"
      fxFlex="0 0 auto"
      fxLayout="row">
    </footer>
</div>
