@import '../../../shared/styles/modules/_all.scss';

.app-container {
    width: 100vw;
    height: 100vh;
    background: $grey-light;
    overflow: hidden;

    main {
        z-index: 0;

        &, content {
            height: 100%;
            width: 100%;
        }
    }

    header {
        position: relative;
        z-index: 30;
        height: 60px;
    }


    nav {
        position: relative;
        z-index: 20;
        padding-bottom: 5px;
    }

    content {
        position: relative;
        z-index: 10;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    footer {
        z-index: 0;
        position: relative;
        width: 100%;
        color: $black;
    }
}
