@import '../shared/styles/modules/_all.scss';

//Containers
:host {
    position: relative;
    z-index: 20;
    padding-bottom: 5px;
    display: flex;
    flex: 0 0 45px;
    flex-direction: row;
    transition: 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

    .sidebar-inner-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 270px;
        float: right;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 100%;
        width: 150px;
        padding: 0;
        margin: 0;
        background: $white;
        @extend %shadow-side;

        ul {
            flex: 0 0 30px;
            height: 100%;
            padding: 0;
            padding-top: 20px;
            float: right;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;

            li {
                list-style-type: none;
                z-index: 24;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 80px;
                margin-right: -10px;
                cursor: pointer;
                background: $white;
                @extend %shadow-card;
                @extend %radius-tab;
                @include transition(all 0s linear);

                &.active {
                    z-index: 26;
                    position: relative;
                    margin-left: 2px;
                    border-right: 2px solid $white;
                    background: $white;
                    @extend %shadow-tab;
                    @include transition(all 0s linear);
                }

                &.disabled {
                    background: $grey-light;
                }

                &:not(.active):not(.disabled):hover {
                    background: $green-light;
                }

                span {
                    z-index: inherit;
                    @include rotate(270deg);
                }
            }
        }
        //TODO sort this out
        .tab-container {
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: white;
            z-index: 27;
            flex: 1 1 100%;
            width: 320px;
            z-index: 25;
            @extend %shadow-side;

            .tab {
                width: 270px;
                padding: 5px;
            }
        }
    }
}

@media (min-width: $screen-sm) {

    :host {
        &:not(.minified) {
            flex: 0 0 150px;
        }
    }

    .container {
        position: relative;
    }
}












/*:host {
    position: relative;
    z-index: 20;
    padding-bottom: 5px;
    flex: 0 0 45px;
    transition: 300ms cubic-bezier(0.4, 0.0, 0.2, 1);

    .container {
        position: absolute;
        height: 100%;
        width: 150px;
        padding: 0;
        margin: 0;
        background: $white;
        @extend %shadow-side;

        .content {
            height: 100%;
            width: 100%;
            z-index: 25;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;

            ul {
                padding: 0;
                margin-top: 10px;

                li {
                    list-style-type: none;
                    min-width: 0;
                    height: 30px;
                    font-family: var(--heading);
                    cursor: pointer;
                    padding-left: 15px;
                    padding-bottom: 35px;
                    padding-top: 5px;
                    text-align: left;

                    &:hover {
                        background: var(--blue);
                    }

                    .active {
                        background: var(--blue-dark);
                    }

                    a {
                        display: flex;
                        flex-direction: row;
                        padding-top: 7px;
                        color: var(--grey-dark);

                        &:hover {
                            text-decoration: none;
                        }

                        fa-icon {
                            flex: 0 0 30px;
                        }

                        span {
                            flex: 1 1 100%;
                            overflow-x: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-sm) {

    :host {
        &:not(.minified) {
            flex: 0 0 150px;
        }
    }

    .container {
        position: relative;
    }
}*/
