<div class="container" [@sidebar]="sidebarState">
    <ul>
        <!--<li class="disabled" [class.selected]="tab =='delete'" (click)="openDelete()"><span>Delete</span></li>-->
        <li [class.active]="activeTab == sidebarTab.thoughtsAdd" (click)="openAddTab()"><span>Add</span></li>
        <li [class.active]="activeTab == sidebarTab.thoughtsEdit" (click)="openEditTab()"><span>Edit</span></li>
    </ul>
    <div class="tab-container" [ngSwitch]="activeTab">

        <div *ngSwitchCase="sidebarTab.thoughtsAdd" [@fadeIn]="fadeIn" class="tab">
            <thoughts-add></thoughts-add>
        </div>

        <div *ngSwitchCase="sidebarTab.thoughtsEdit" [@fadeIn]="fadeIn" class="tab">
            <thoughts-edit></thoughts-edit>
        </div>

    </div>
</div>

