
/*
* ---------- Sidebar ----------
*/

aside {
    z-index: 20;
    /*background: var(--article-bg-color);*/
}

    aside > .aside-container {
        display: grid;
        grid-template-columns: 30px auto;
        grid-template-rows: auto;
        height: 100%;
        width: 100%;
        float: right;
    }

        aside > .aside-container > .aside-content-container {
            z-index: 25;
            grid-column: 2 / 3;
            grid-row: 1;
            background: var(--aside-bg-color);
            padding: 10px;
            /*Shadow middle height*/
            -moz-box-shadow: var(--shadow-side);
            -webkit-box-shadow: var(--shadow-side);
            box-shadow: var(--shadow-side);
        }

            aside > .aside-container > .aside-content-container > div,
            #aside-tasks-container {
                z-index: 29;
            }

        aside > .aside-container > .aside-tabs {
            grid-column: 1 / 2;
            grid-row: 1;
            /*background: var(--article-bg-color);*/
        }

            aside > .aside-container > .aside-tabs > ul {
                z-index: 24;
                margin: 0;
                padding: 0;
                margin-top: 30px;
                display: flex;
                flex: 1 1 100%;
                align-items: flex-end;
                flex-direction: column-reverse;
            }

                aside > .aside-container > .aside-tabs > ul > li {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 80px;
                    margin-top: -10px;
                    font-size: 1.1em;
                    font-family: var(--theme-font-text);
                    color: var(--text-font);
                    cursor: pointer;
                    background: var(--aside-tab-inactive-bg-color);
                    /*Shadow middle height*/
                    -moz-box-shadow: var(--shadow-card);
                    -webkit-box-shadow: var(--shadow-card);
                    box-shadow: var(--shadow-card);
                    /*Rounded corners*/
                    -webkit-border-radius: 30px 0 0 15px;
                    border-radius: 30px 0 0 15px; /* future proofing */
                    -moz-border-radius: 15px 0 0 15px;
                    /*Transition*/
                    -moz-transition: all 0 linear;
                    -o-transition: all 0 linear;
                    -webkit-transition: all 0 linear;
                    transition: all 0 linear;
                }

                    aside > .aside-container > .aside-tabs > ul > li:not(.active):not(.disabled):hover {
                        background: var(--aside-tab-hover-bg-color);
                    }

                    aside > .aside-container > .aside-tabs > ul > li.disabled {
                        background: var(--aside-tab-disabled-bg-color);
                    }

                    aside > .aside-container > .aside-tabs > ul > li.active {
                        z-index: 26;
                        position: relative;
                        margin-right: -5px;
                        border-right: 5px solid var(--aside-tab-active-bg-color);
                        background: var(--aside-tab-active-bg-color);
                        /*Shadow middle height*/
                        -moz-box-shadow: var(--shadow-active-tab);
                        -webkit-box-shadow: var(--shadow-active-tab);
                        box-shadow: var(--shadow-active-tab);
                        /*Transition*/
                        -moz-transition: all 0s linear;
                        -o-transition: all 0s linear;
                        -webkit-transition: all 0s linear;
                        transition: all 0s linear;
                    }

                    aside > .aside-container > .aside-tabs > ul > li > span {
                        z-index: inherit;
                        /* Safari */
                        -webkit-transform: rotate(270deg);
                        /* Firefox */
                        -moz-transform: rotate(270deg);
                        /* IE */
                        -ms-transform: rotate(270deg);
                        /* Opera */
                        -o-transform: rotate(270deg);
                    }
