
/*
* ---------- Sidebar ----------
*/

.container {
    width: 100%;
    min-width: 45px;
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
    /*Flexbox Rows*/
    display: flex;
    flex-direction: row;

    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -o-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -ms-align-items: stretch;
    -o-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -moz-align-content: stretch;
    -o-align-content: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
}
.tabs {
    width: 30px;
}
.tabs > ul {
    z-index: 24;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    display: flex;
    flex: 1 1 100%;
    align-items: flex-end;
    flex-direction: column-reverse;
}
.tabs > ul > li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 80px;
    margin-top: -10px;
    font-size: 1.1em;
    font-family: var(--font-text);
    color: var(--text-font);
    cursor: pointer;
    background: var(--aside-tab-inactive-bg-color);
    /*Shadow middle height*/
    -moz-box-shadow: var(--shadow-card);
    -webkit-box-shadow: var(--shadow-card);
    box-shadow: var(--shadow-card);
    /*Rounded corners*/
    -webkit-border-radius: 30px 0 0 15px;
    border-radius: 30px 0 0 15px; /* future proofing */
    -moz-border-radius: 15px 0 0 15px;
    /*Transition*/
    -moz-transition: all 0 linear;
    -o-transition: all 0 linear;
    -webkit-transition: all 0 linear;
    transition: all 0 linear;
}

    .tabs > ul > li:not(.active):not(.disabled):hover {
        background: var(--aside-tab-hover-bg-color);
    }

    .tabs > ul > li.disabled {
        background: var(--aside-tab-disabled-bg-color);
    }

    .tabs > ul > li.active {
        z-index: 26;
        position: relative;
        margin-right: -5px;
        border-right: 5px solid var(--aside-tab-active-bg-color);
        background: var(--aside-tab-active-bg-color);
        /*Shadow middle height*/
        -moz-box-shadow: var(--shadow-active-tab);
        -webkit-box-shadow: var(--shadow-active-tab);
        box-shadow: var(--shadow-active-tab);
        /*Transition*/
        -moz-transition: all 0s linear;
        -o-transition: all 0s linear;
        -webkit-transition: all 0s linear;
        transition: all 0s linear;
    }

    .tabs > ul > li > span {
        z-index: inherit;
        /* Safari */
        -webkit-transform: rotate(270deg);
        /* Firefox */
        -moz-transform: rotate(270deg);
        /* IE */
        -ms-transform: rotate(270deg);
        /* Opera */
        -o-transform: rotate(270deg);
    }

.content-container {
    background: var(--white);
    padding: 10px;
    width: 100%;
    height: 100%;
    width: 320px;
    padding-bottom: 5px;
    float: right;    
    /*Shadow middle height*/
    -moz-box-shadow: var(--shadow-side);
    -webkit-box-shadow: var(--shadow-side);
    box-shadow: var(--shadow-side);
}