/*
* ---------- Article ----------
*/

article {
    background: var(--article-bg-color);
    z-index: 10;
    width: 100%;
    height: 100%;
}

#content {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    margin: 0;
}


/*Used so that the animation works when expanding left*/
#content.float-right {
    float: right;
}

#content.float-right:after {
    float: left;
}